:root {
  --clr-accent: #f55a5a;
  --clr-dull: #918e9b;
  --clr-light-dull: #f5f5f5;
  --clr-white: #ffffff;
  --clr-dark: #2b283a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-white);
  color: var(--clr-dark);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.locations-grid {
  max-width: 550px;
}

header {
  background-color: var(--clr-accent);
  display: flex;
  justify-content: center;
  gap: 7px;
  width: 100vw;
}

header > img {
  width: 24px;
}

header > p {
  font-size: 0.90375rem;
  color: var(--clr-white);
}

section {
  display: flex;
  align-items: center;
  gap: 19px;
  padding: 40px;
  position: relative;
}

section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--clr-light-dull);
  bottom: 0;
}

.journal-image {
  width: 125px;
  height: 168px;
  object-fit: cover;
  border-radius: 5px;
}

h1 {
  font-size: 1.5625rem;
  margin-top: 7px;
  margin-bottom: 16px;
}

h2,
p,
span {
  font-size: 0.64rem;
}

a {
  text-decoration-line: none;
}

.location-name {
  letter-spacing: 0.5px;
  margin: 0 12px 0 4px;
}

.view-on-maps {
  color: var(--clr-dull);
  text-decoration-line: underline;
  cursor: pointer;
}
